<!doctype html>
<title>Helium Sensor Status</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/css/site.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/site.js') }}"></script>

<ul class="sensor-list">
{% for sensor in sensors %}
    <li id="{{ sensor.id }}">
        <p class="sensor-data">{{ sensor.value }}</p>
        <h2 class="sensor-name">{{ sensor.name }}</h2>
    </li>
{% endfor %}
</ul>

<ul id="helium-info">
    <li class="helium-resource"><a href="https://helium.com">Helium</a></li>
    <li class="helium-resource"><a href="https://store.helium.com">Store</a></li>
    <li class="helium-resource"><a href="https://docs.helium.com">Documentation</a></li>
</ul>
