Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
click==6.6
future==0.15.2
gunicorn==19.6.0
helium-python==0.2.3
inflection==0.3.1
itsdangerous==0.24
requests==2.10.0
uritemplate==3.0.0
wsgiref==0.1.2
