@import "../../../bower_components/normalize-scss/_normalize.scss";
@import "../../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../../bower_components/neat/app/assets/stylesheets/neat";

$purple: #D475E7;
$dark-purple: #BF4FD6;
$yellow: #F1FD7D;
$grey: #333333;
$light-grey: #F2F2F2;
$dark-grey: grey;
$blue: #4893BD;
$light-blue: #6CBDF4;

$transition-time: 0.05s;
$transition-out-time: 1s;

h1 {
    font-size: 2em;
}

a, a:visited {
    text-decoration: none;
    color: $grey;
}

body {
    font-family: 'Helvatica', 'Arial', sans-serif;
    margin: auto;
    height: auto;
    color: $dark-grey;
    background-color: white;
    @include media (max-width 41em) {
        margin: 1em;
    }
    position: relative;
}

ul.sensor-list {
    list-style-type: none;
    @include outer-container;
    padding: 0;
}

.sensor-list li {
    @include span-columns(4);
    @include media(min-width 320px max-width 480px, 3) {
        @include span-columns(3);
    }
    background-color: $light-grey;
    margin: 0.25em;
    padding: 0.5em;
    padding-left: 1em;
}

.sensor-data {
    font-size: 6em;
    margin: auto;
    color: $blue;
}

.sensor-name {
    font-size: 1em;
    color: $dark-grey;
}

#helium-info {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: $light-grey;
    border-radius: 0.2em;
}

li.helium-resource {
    margin: 0;
    padding: 0.5em;
    padding-left: 1em;
}
